<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="ngResumeApp" ng-controller="ResumeAppController" class="ng-cloak" ng-cloak>

<head>

    <!--- Basic Page Needs
   ================================================== -->
    <meta charset="utf-8">
    <title>An Initial Understanding of Task Interdependence in Software Development Teams: A Case Study</title>
    <meta name="description" content="An Initial Understanding of Task Interdependence in Software Development Teams: A Case Study">
    <meta name="author" content="Victor Oliveira">

    <!-- Mobile Specific Metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/media-queries.css">

    <!-- Script
   ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- Favicons
   ================================================== -->
    <link rel="shortcut icon" href="favicon.png">

</head>

<body>

    <!-- Header
   ================================================== -->
    <header id="home">

        <nav id="nav-wrap">

            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">{{::getData('title')}}</a>
            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

            <ul id="nav" class="nav">

                <li ng-class="currentSection=='home' ? 'current' : ''" ng-click="currentSection='home'">
                    <a class="smoothscroll" href="#home">Home</a>
                </li>

                <li ng-class="currentSection=='authors' ? 'current' : ''" ng-click="currentSection='authors'">
                    <a class="smoothscroll" href="#authors">Authors</a>
                </li>

                <li ng-class="currentSection=='research' ? 'current' : ''" ng-click="currentSection='research'">
                    <a class="smoothscroll" href="#research">Research</a>
                </li>

                <li ng-class="currentSection=='acknowledgments' ? 'current' : ''" ng-click="currentSection='acknowledgments'">
                    <a class="smoothscroll" href="#acknowledgments">Acknowledgments</a>
                </li>

            </ul>
            <!-- end #nav -->

        </nav>
        <!-- end #nav-wrap -->

        <div class="row banner">

            <div class="twelve columns" style="margin-top: 3%">
                <img class="profile-pic" ng-src="images/banner.png" alt="" />
            </div>

            <div class="banner-text">
                <hr />
                <h2 class="responsive-headline">{{::getData('title')}}</h2>
                <br>
                <h3>{{::getData('subtitle')}}</h3>

                <hr />
                    
                <ul class="social">
                    <li><a target="_blank" href="docs/task-interdepence.pdf"><i class="fa fa-cloud-download"></i></a></li>
                    <li><a target="_blank" href="http://www.chaseresearch.org/workshops/chase-2018"><i class="fa fa-map-marker"></i></a></li>
                    <!-- <li><a target="_blank" href="https://www.instagram.com/victorlaerte/"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" href="http://stackoverflow.com/users/1965189/victor-oliveira"><i class="fa fa-stack-overflow"></i></a></li>
                    <li><a target="_blank" href="https://github.com/victorlaerte/initial-theory-of-task-interdependence"><i class="fa fa-github"></i></a></li> -->
                </ul>
                   
            </div>
        </div>

        <p class="scrolldown">
            <a class="smoothscroll" href="#authors"><i class="icon-down-circle" ></i></a>
        </p>

    </header>
    <!-- Header End -->

    <!-- Authors Section -->
    <section id="authors">

        <div class="row">

            <div ng-repeat="author in authors">
                <div class="three columns">

                    <a href="{{::author.personalUrl}}">
                        <img class="profile-pic" ng-src="{{::author.profileImgUrl}}" alt="" />
                    </a>

                </div>

                <div class="nine columns main-col">

                    <h2><a href="{{::author.personalUrl}}">{{author.name}}</a> - <a href="mailto:{{::author.email}}"> {{::author.email}}</a><br>
                    </h2>
                    <p>
                        {{::author.resume}}
                        <span> 
                            <a>{{::author.address}}</a>
                        </span>
                    </p>

                </div>
                
                <hr>
            </div>

        </div>

    </section>
    <!-- Authors Section End-->

    <!-- Research Section -->
    <section id="research">
            
        <div class="row work">

            <div class="columns main-col">
                <ng-resume-row item="::getData('research')"></ng-resume-row>

            </div>
            <!-- main-col end -->

        </div>
    </section>
    <!-- Research Section End-->

    <!-- Acknowledgments Section -->
    <section id="acknowledgments">

        <div class="row">

            <div class="twelve columns" ng-repeat="item in acknowledgments">

                <h2><span class="lead">{{::item.acknowledgment}}</span></h2>

                <div class="row" style="margin-top: 5%">

                    <div class="five columns">
                        <img class="profile-pic" ng-src="images/liferay.png" alt="" />
                    </div>
    
                    <div class="five columns">
                        <img class="profile-pic" ng-src="images/cnpq.png" alt="" />
                    </div>

                </div>
            </div>

        </div>

    </section>
    <!-- Acknowledgments Section End-->

    <!-- footer -->

    <footer>

        <div class="row">

            <div class="twelve columns">

                <ul class="copyright">
                    <li>&copy; Copyright 2014 CeeVee</li>
                    <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
                    <li>Improvements by <a href="https://github.com/victorlaerte/victorlaerte.github.io" title="Styleshout" target="_blank">Victor Laerte</a></li>
                </ul>

            </div>

            <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

        </div>

    </footer>
    <!-- Footer End-->

    <!-- Java Script
   ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')
    </script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ctrl.js"></script>
    <!-- use this script do active menu in spa <script src="js/waypoints.js"></script> -->
    <script src="js/jquery.fittext.js"></script>
    <script src="js/init.js"></script>
    <script src="js/services.js"></script>
    <script src="js/underscore-min.js"></script>

    <!-- Google Analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-75456275-4', 'auto');
        ga('send', 'pageview');
    </script>

</body>

</html>
